@page
@model ErrorModel
@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Błąd</h1>
<h2 class="text-danger">Podczas przetwarzania żadania wystapił błąd.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID zapytania:</strong> <code>@Model.RequestId</code>
    </p>
}